<h1>CONJUNTOS</h1>
<table class="table">
    <thead>
        <tr>
             <th>Imagen</th>
            <th>Nombre</th>
            <th>Talle</th>
            <th>Precio</th>
             <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conjunto of conjuntos" [ngClass]="{'liquidacion':conjunto.liquidacion}">
            <td><img [src]="conjunto.imagen" [alt]="conjunto.nombre"></td>
            <td>{{conjunto.nombre}}</td>
            <td>{{conjunto.talle}}</td>
            <td>{{conjunto.precio | currency}}</td>
            <td><span class="badge badge-warning" *ngIf="conjunto.stock==0">Sin stock</span><span class="badge badge-success" *ngIf="conjunto.stock!=0">En stock</span></td>
        </tr>
       
    </tbody>
</table>
