<h1>CONJUNTOS</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img [src]="conjunto1.image" [alt]="conjunto1.nombre"></th>
            <th>{{conjunto1.nombre}}</th>
            <th>{{conjunto1.talle}}</th>
            <th>{{conjunto1.precio}}</th>
            <th>{{conjunto1.stock}}</th>
        </tr>
        <tr>
            <th><img [src]="conjunto2.image" [alt]="conjunto2.nombre"></th>
            <th>{{conjunto2.nombre}}</th>
            <th>{{conjunto2.talle}}</th>
            <th>{{conjunto2.precio}}</th>
            <th>{{conjunto2.stock}}</th>
        </tr>
    </tbody>
</table>
