<!--NAV-BAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-link" [routerLink]="['/']">Shop Now</a>
      <a class="nav-link" [routerLink]="['/home']">xx</a>
      
      
    </div>
  </div>
</nav>
<!--EL CONTENIDO-->
<div class="container">
 <router-outlet></router-outlet>
</div>

<!-- Footer -->
   
<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3">©2020 KING </div> 
</footer>